.hero-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.9rem;
}
.hero-text{
    height: 100%;
    
}
.hero-text h1{
    font-size: 51px;
}
.hero-text h1 span{
font-weight: 200;
}
.service{
    gap: 1.5em;
    align-items: baseline;
}
.services-icon p {
text-align: center;
}
.services-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}