.service-layout {
    padding:3em 5rem;
  display: flex;
  justify-content: space-between;
}
.inner-text,
.service-category {
  width: 50%;
}
.inner-text{
    padding-right: 10em;
    box-sizing: border-box;
}
.heading h6 {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 1em ;
}
.category-text{
    font-size: 18px;
    font-weight: 600;
}
.category-layout {
    border: 1px solid #7E808C;
  background: #dde7f1;
  padding: 1em 1em;
  border-radius: 15px;
  flex-direction: column;
  display: flex;
  gap: 2em;
}
.category-button-apply {
  width: fit-content;
  background: transparent;
  color: #1611ff;
  border: none;
  font-weight: 600;
}
.category-button{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-category {
    flex-direction: column;
    display: flex;
    gap: 1em;
}